<!-- <form action="/login" method="POST" hx-boost="true"> -->
<form hx-post="/login" hx-swap="outerHTML" x-data="loginData" x-ref="form" novalidate x-init="formInit()"
  @htmx:before-request="handleValidation" @input="inputHandler">
  <div class="flex-col items-stretch justify-start">
    <div class="py-4 form-group">
      <label class="block text-gray-500 py-1" for="username">Email</label>
      <input class="block text-black rounded-md p-3 w-full" type="email" x-ref="email" required name="username"
        placeholder="Username" autocomplete="email" />
    </div>
    <div class="py-4 form-group">
      <label class="block text-gray-500 py-1" for="psw">Password</label>
      <input class="block text-black rounded-md p-3 w-full" type="password" x-ref="psw" required name="psw"
        placeholder="Password" autocomplete="current-password" />
    </div>
    <div class="text-red-500 py-2" x-ref="backendError">{{error}}</div>
    <div class="py-4">
      <button type="submit"
        class="flex items-center justify-center relative rounded-md text-white bg-teal-600 hover:bg-teal-800 px-4 py-3 w-full disabled:hover:bg-teal-600"
        :disabled="loading">
        Entrar
        <img class="htmx-indicator w-8 absolute -right-14" src="/static/svg/oval.svg" alt="spinner" />
      </button>
    </div>
  </div>
</form>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("loginData", () => ({
      loading: false,
      pristine: null,
      formInit() {
        this.pristine = PristineInit(this.$refs.form, {
          errorClass: "border-red-500",
          errorTextClass: "text-red-500 pt-2",
        });
      },
      handleValidation(event) {
        const valid = this.pristine.validate();
        console.log("Form valid:", valid);
        if (!valid) {
          event.preventDefault();
        } else {
          this.loading = true;
        }
      },
      inputHandler() {
        this.$refs.backendError.innerText = "";
      },
    }));
  });
</script>
