<div class="flex-grow">
    <h1 class="text-4xl font-sans font-bold text-center py-3">
        Upload file to transcript
    </h1>
    <h2 class="text-center text-xl py-2">
        Upload a video or an mp3 file to get a transcription of it. (Supports only
        until 25mb)
    </h2>
    <div id="dropzone" class="flex items-center justify-center w-full">
        <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 rounded-lg cursor-pointer bg-slate-300 hover:bg-slate-400">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                </svg>
                <p class="mb-2 text-sm text-gray-500">
                    <span class="font-semibold">Click to upload</span> or drag and drop
                </p>
                <p class="text-xs text-gray-500">MP4 or MP3 (MAX. 25mb)</p>
            </div>
            <input id="dropzone-file" type="file" accept=".mp3, .mp4" class="hidden" />
        </label>
    </div>
    <div id="files-loaded"
        class="flex max-w-2xl items-center justify-between p-5 border-2 border-black rounded-lg bg-slate-300 text-sm hidden">
        <div>
            <img class="h-10 inline pr-1" src="{{ url_for('static', path='/img/file-icon.svg' )}}" alt="" />
            <span id="filename"></span>
        </div>
        <div id="size" class="text-gray-500"></div>
    </div>
</div>
<script src="{{ url_for( 'static', path='/js/file-uploader.js') }}"></script>
