{# def error="" #}

<BaseHtml title="Login" class="font-sans">
  <div class="flex h-screen bg-black font-sans">
    <div class="flex-1 max-w-2xl min-w-fit text-white flex flex-col items-stretch justify-center gap-4 px-24 ">
      <h1 class="text-4xl text-center font-bold">AI Transcriptor</h1>
      <h4 class="text-sm text-center font-mono">Powered by Whisper</h4>
      <br><br>
      <Login.Form error={error} />
    </div>

    <div class="flex-1 bg-red">
      <img class="object-cover w-full h-full" src="/static/img/login.jpg" alt="Login background">
    </div>

  </div>
</BaseHtml>
