<div
  class="flex flex-col justify-center items-center bg-gradient-to-b from-blue-400 via-pink-300 to-green-400 text-white text-center">
  <Landing.Navbar class="absolute top-0 left-0 right-0"></Landing.Navbar>
  <div class="py-28 h-full"></div>
  <h1 class="text-7xl max-w-7xl font-semibold py-8">Transcriptor de Audio Online</h1>
  <h2 class="text-5xl max-w-5xl leading-tight py-4">Impulsa tu productividad y ahorra tiempo transcribiendo tus
    llamadas y
    videos importantes</h2>
  <p class="text-lg max-w-3xl py-4">Analiza tus conversaciones, resume tus reuniones y desgloza insights calve de tus
    grabaciones en un solo espacio</p>
  <div class="py-4">
    <button
      class="flex gap-2 items-center bg-white rounded-xl stroke-black text-black px-4 py-3 hover:bg-black hover:text-white hover:stroke-white">
      <svg width="27" height="28" viewBox="0 0 27 28" fill="none" stroke="currentColor" class="stroke-current"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 11.7778V16.2222M8.5 7.33333V20.6667M13.5 4V24M18.5 7.33333V20.6667M23.5 11.7778V16.2222"
          stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="text-xl">Transcribir ahora</p>
    </button>
  </div>
  <p class="text-sm py-4">Sin anuncios o pagos adicionales, al registrarte podrás transcribir sin interrupciones</p>
  <div class="flex gap-4 items-center justify-center py-8">
    <img src="../../../static/img/Avatar-group.png" alt="Avatar images">
    <p class="text-sm">3,567 personas ya transcriben con Revol</p>
  </div>
</div>
