<div {{ attrs.render(class="flex w-full justify-center" ) }}>
  <div class="flex max-w-7xl w-full justify-between py-4">
    <div class="flex gap-5 items-center">
      <Landing.NavbarLink value="Como funciona" url="#">
        <img src="static/svg/revol.svg" alt="Revol logo">
      </Landing.NavbarLink>
      <Landing.NavbarLink url="#">Como funciona</Landing.NavbarLink>
      <Landing.NavbarLink url="#">Precios</Landing.NavbarLink>
      <Landing.NavbarLink url="#">Soporte</Landing.NavbarLink>
    </div>
    <a class="flex gap-2 bg-white text-black rounded-full items-center px-4 py-2 hover:text-white hover:bg-black"
      href="/login">
      <svg width="12" height="16" viewBox="0 0 12 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.66666 6.66675H11.3333L5.33332 15.3334V9.33341H0.666656L6.66666 0.666748V6.66675Z" />
      </svg>
      <p>Ingresar</p>
      <img src="static/svg/Avatar.svg" alt="Ray icon">
    </a>
  </div>
</div>
